/* 메인 콘텐츠 영역 */
.main-video {
  margin-left: 90px;         /* 사이드바 너비만큼만 */
  width: calc(100% - 90px);  /* 우측은 여백 없이 */
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.main-video-header{
  display: flex;
  position: fixed;
  align-items: center; /* 세로 가운데 정렬 */
  top: 60px; /* navbar 높이만큼 띄우기 */
  left: 90px;              /* 사이드바 너비만큼 띄움 */
  right: 0;                  /* 오른쪽을 0으로 붙임 */
  background-color: #ffffff;
  height: 50px;
  z-index: 1000;

  overflow-x: auto;     /* 가로 스크롤 허용 */
  white-space: nowrap;  /* 버튼들이 한 줄에 배치되도록 */
}

.main-video-button{
  padding: 0 20px;
}

.main-video-scroll {
  box-sizing: border-box;
  padding: 0 10px;
}

/* 메인 콘텐츠 링크 */
.main-video-scroll a {
  color: #222222;
  text-decoration: none;
}

/* ===== UI 컴포넌트 ===== */

/* 카드 스타일 */
.card {
  border: none;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.01);
}

.card-text{
  margin: 0;
  color: #909090;
}

.card-icon{
  border-radius: 50%;
  width: 40px;
  background: none;
  border: none;
}
